@charset "UTF-8";
.is-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

a:link, a:visited {
  color: #ff8b3d;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

body h1 {
  font-size: 2.42857rem;
  line-height: 3.14286rem;
}

body h2 {
  font-size: 1.57143rem;
  line-height: 2.35714rem;
}

body h3 {
  font-size: 1.2381rem;
  line-height: 1.96429rem;
}

body p,
body ol,
body ul {
  margin-bottom: 1.2381rem;
}
body ol ol,
body ol ul,
body ul ol,
body ul ul {
  margin-left: 1.2381rem;
}
body ol {
  list-style: decimal;
}
body ul {
  list-style: disc;
}
body li {
  margin-bottom: 0.61905rem;
}
body tt, body code, body pre {
  font-size: 0.80952rem;
  line-height: 1.57143rem;
}
body tt, body code {
  font-weight: bold;
}
body pre {
  border-left: 3px solid #adadad;
  margin-bottom: 1.2381rem;
  margin-left: -0.61905rem;
  padding: 0.61905rem;
  white-space: pre-wrap;
}
body strong {
  font-weight: bold;
}
body .strike {
  text-decoration: line-through;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  background: none;
  color: #333;
  font: inherit;
  cursor: pointer;
  overflow: visible;
}
.btn:hover, .btn:focus, .btn:active {
  outline: 0;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/serif/baskerville-regular-webfont.woff?1409961749') format("woff"), url('../fonts/serif/baskerville-regular-webfont.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/serif/baskerville-italic-webfont.woff?1409961749') format("woff"), url('../fonts/serif/baskerville-italic-webfont.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/serif/baskerville-bold-webfont.woff?1409961749') format("woff"), url('../fonts/serif/baskerville-bold-webfont.ttf?1409961749') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/serif/baskerville-bolditalic-webfont.woff?1409961749') format("woff"), url('../fonts/serif/baskerville-bolditalic-webfont.ttf?1409961749') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-regular-webfont.woff?1409961749') format("woff"), url('../fonts/sans/sourcesanspro-regular-webfont.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-italic-webfont.woff?1409961749') format("woff"), url('../fonts/sans/sourcesanspro-italic-webfont.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bold-webfont.woff?1409961749') format("woff"), url('../fonts/sans/sourcesanspro-bold-webfont.ttf?1409961749') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1409961749') format("woff"), url('../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1409961749') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-regular-webfont.woff?1409961749') format("woff"), url('../fonts/code/sourcecodepro-regular-webfont.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-bold-webfont.woff?1409961749') format("woff"), url('../fonts/code/sourcecodepro-bold-webfont.ttf?1409961749') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "oddsite";
  src: url('../fonts/icons/oddsite.woff?1409961749') format("woff"), url('../fonts/icons/oddsite.ttf?1409961749') format("truetype");
  font-weight: normal;
  font-style: normal;
}
body h1,
body h2,
body h3, .amp, body {
  font-family: BaskervilleFS, Baskerville, Palatino, Cambria, Georgia, serif;
}

html, a:after {
  font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body tt, body code, body pre {
  font-family: SourceCodePro, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

html {
  font-size: 131.25%;
  line-height: 1.57143em;
}

[data-icon] {
  font-family: "oddsite";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon='home']:before {
  content: "";
}

[data-icon='tag']:before {
  content: "";
}

[data-icon='email']:before {
  content: "";
}

[data-icon='bubbles']:before {
  content: "";
}

[data-icon='twitter']:before {
  content: "";
}

[data-icon='github']:before {
  content: "";
}

[data-icon='stackoverflow']:before {
  content: "";
}

[data-icon='egg']:before {
  content: "";
}

[data-icon='oddbird']:before {
  content: "";
}

html {
  background: #f6fcfe;
  color: #333;
}

.amp {
  font-style: italic;
}

html {
  font-size: 131.25%;
  line-height: 1.57143em;
}

* {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

[role="banner"] {
  font-size: 2.42857rem;
  line-height: 3.14286rem;
  margin-bottom: 0;
}

[role="navigation"], [role="contentinfo"],
.pagination, .readmore,
.fatfooter {
  display: none;
}

.post:before {
  margin: 1rem 0;
  content: "* * *";
  display: block;
  text-align: center;
}

a:after {
  font-size: 0.80952rem;
  line-height: 1.57143rem;
  content: " [" attr(href) "] ";
}

a[href^="/"]:after {
  content: " [http://oddbird.net" attr(href) "] ";
}
[role="banner"] a[href^="/"]:after, .byline a[href^="/"]:after {
  display: none;
}
.title a[href^="/"]:after {
  font-size: 0.80952rem;
  line-height: 1.57143rem;
  display: block;
}

h1, h2, h3 {
  page-break-after: avoid;
}

h2 {
  text-transform: none !important;
}

p, h1, h2, h3 {
  orphans: 3;
  widows: 3;
}

p {
  margin-top: 0;
}

.title {
  margin: 0;
}

.byline {
  font-style: italic;
}

.code {
  border-left-color: #000 !important;
}
